h1 {
    font-size: 5rem;
    font-family: 'Big Shoulders Stencil Display', cursive;
}

h1 span {
    color: rgb(253, 253, 197);
}

img {
    border: double black 10px;
}

img:hover {
    filter: brightness(104%) contrast(97%);
}

body {
    background-image: url("../images/brewery-background.jpg");
    background-size: contain;
    background-size: cover;
}
#buttonPage {
    position: fixed;
    left: 100px;
    top: 100px;
}
.grid-container {
    display: grid;
  
    grid-template-areas:
      "header header header"
      "search search search"
      "brew-pic wiki wiki"
      "brew-info wiki wiki";
  
    grid-template-columns: 0fr 1fr 1fr;
    grid-template-rows: 0.25fr 0.5fr 1fr auto;
    grid-gap: 10px;
  
    height: 95vh;
    width: 100vw;

    font-family: 'Josefin Sans', sans-serif;
  }

header {
    grid-area: header;
    text-align: center;
    color: white;
    padding-bottom: 10px;
}

#list-header {
    display: none;
}

.jumbotron {
    background-color: black;
}

header a {
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 3px;
    color: yellow;
}

#brewery {
    display: none;
}

nav {
    grid-area: search;
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
}

#search-input, #format-input {
    color: black;
    background-color: rgba(255, 255, 0, 0.333);
    border-radius: 4px;
    margin-bottom: 3px;
    padding: 3px;
}

::placeholder {
    color: black;
}

#search-input:hover, #format-input:hover {
    box-shadow: 0px 0px 2px 2px gray;
    padding: 5px;
}

#search-button {
    background-size: contain;
    background-size: cover;
    background-image: url("../images/lights.jpeg");
    font-size: x-large;
    border-radius: 20px;
    margin-top: 10px;
    box-shadow: 0px 0px 5px 1px gray;
}

#search-button:hover {
    box-shadow: 0px 0px 5px 5px gray;
    filter: brightness(130%);
}

figure {
    grid-area: brew-pic;
    margin-left: 5%;
    display:none;
}
  
#brew-info {
    grid-area: brew-info;
    display: none;
    margin-left: 5%;
    padding-left: 10px;
    border: double black 10px;
}

#wiki {
    grid-area: wiki;
    display: none;
    border-radius: 20px;
    margin-right: 5%;
    padding-left: 1%;
}

#wiki-paragraphs {
    text-align: justify;
    font-size: 1rem;
    background-color: rgb(236, 230, 230);
    padding: 1%;
    border-radius: 10px;
}

#wiki-images img {
    float: right;
    margin-left: 20px;
    min-width: 100px;
    min-height: 150px;
    max-width: 100%;
    border-top-right-radius: 10px;
}

.history-button {
    display: inline-block;
    color: white;
    background-color: black;
    margin: 5px;
    max-width: 10vw;
    font-size: 1vw;
}
