body {
background-color: gray;
}
.card-body {
    background-color: '#1a1a1a', color: '#d9e9e8';
    padding-bottom: 5px;
}
.col{
    display: flex;  
    margin-bottom: 30px;
    flex-wrap: wrap;
    width: 500px;
    height: 850px;
}
button {
    margin: 10px;
}
button.btn.btn-danger.popup{
    margin-right: 20px;
}
.grid-container {
    display: grid;
  
    grid-template-areas:
      "header header header"
      "search search search"
      "brew-pic wiki wiki"
      "brew-info wiki wiki";
  
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.25fr 0.5fr 1fr 1fr;
    grid-gap: 10px;
  
    height: 95vh;
    width: 100vw;
  }

header {
    grid-area: header;
    text-align: center;
    background-color: black;
    color: white;
    padding-bottom: 10px;
    background-image: url("brewery-background.jpg");
}

header span {
    margin-left: 5px;
    margin-right: 5px;
    border: solid rgb(75, 63, 63) 1px;
    border-radius: 3px;
}

nav {
    grid-area: search;
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
}

figure {
    grid-area: brew-pic;
    margin-left: 5%;
    border: solid black 10px;
}
  
section {
    grid-area: brew-info;
    margin-left: 5%;
}

main {
    grid-area: wiki;
    background-color: rgb(236, 230, 230);
    border-radius: 10px;
    margin-right: 5%;
    padding-left: 2%;
}
#map {
    border: 2px solid #333;
    width: 80vw;
    height: 80vh;
}

iframe {
    border: 3px solid brown;
    width: 100%;
}

.output {
    background: #eee;
}
.img-fluid.rounded {
    margin-top: 15px;
    height: 250px;
    width: 380px;
    min-height: 250px;
    object-fit: cover;
}
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
  }
  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }
  @-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}